:root {
    --t: rgba(49, 49, 49, 1);
    --blackish-green: rgba(17, 34, 17, 1);
    --mint-green: rgba(141, 211, 187, 1);
    --neutralswhite: rgba(255, 255, 255, 1);
    --montserrat-medium-14px-font-family: "Montserrat", Helvetica;
    --montserrat-medium-14px-font-weight: 500;
    --montserrat-medium-14px-font-size: 14px;
    --montserrat-medium-14px-letter-spacing: 0px;
    --montserrat-medium-14px-line-height: normal;
    --montserrat-medium-14px-font-style: normal;
    --montserrat-regular-16px-font-family: "Montserrat", Helvetica;
    --montserrat-regular-16px-font-weight: 400;
    --montserrat-regular-16px-font-size: 16px;
    --montserrat-regular-16px-letter-spacing: 0px;
    --montserrat-regular-16px-line-height: normal;
    --montserrat-regular-16px-font-style: normal;
    --montserrat-regular-14px-font-family: "Montserrat", Helvetica;
    --montserrat-regular-14px-font-weight: 400;
    --montserrat-regular-14px-font-size: 14px;
    --montserrat-regular-14px-letter-spacing: 0px;
    --montserrat-regular-14px-line-height: normal;
    --montserrat-regular-14px-font-style: normal;
}
