.screen {
  display: flex;
  flex-direction: column;
  height: 812px;
  align-items: center;
  gap: 59px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.screen .group {
  position: relative;
  width: 451px;
  height: 839px;
  margin-left: -38px;
  margin-right: -38px;
  opacity: 0.8;
}

.screen .ellipse {
  position: absolute;
  top: 246px;
  left: 362px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(124, 70, 240, 1) 0%, rgba(124, 70, 240, 0.15) 100%);
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 375px;
    height: 70px;
    background-color: #c4f3e5; /* 이미지의 연한 민트색 */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 네비게이션 내부 정렬 */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 500px; /* 모바일 폭 맞춤 */
}

/* 각 아이콘 버튼 영역 */
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 10px;
    transition: transform 0.2s;
}

.nav-item img {
    width: 28px; /* 아이콘 크기 적절히 조절 */
    height: 28px;
}

/* 클릭 효과 */
.nav-item:active {
    transform: scale(0.9); /* 누를 때 살짝 작아짐 */
}
.screen .div {
  position: absolute;
  top: 554px;
  left: 0;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(70, 189, 240, 1) 0%, rgba(70, 179, 240, 0.15) 100%);
}

.screen .ellipse-2 {
  position: absolute;
  top: 224px;
  left: 101px;
  width: 74px;
  height: 74px;
  border-radius: 37px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(95, 39, 255, 1) 0%, rgba(202, 184, 255, 1) 100%);
}

.screen .ellipse-3 {
  position: absolute;
  top: 781px;
  left: 269px;
  width: 58px;
  height: 58px;
  border-radius: 29px;
  filter: blur(65px);
  background: linear-gradient(180deg, rgba(240, 182, 70, 1) 0%, rgba(240, 203, 70, 0.15) 100%);
}

.screen .ellipse-4 {
  position: absolute;
  top: 0;
  left: 13px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(70, 240, 128, 1) 0%, rgba(70, 240, 138, 0.15) 100%);
}

.screen .ellipse-5 {
  position: absolute;
  top: 345px;
  left: 333px;
  width: 118px;
  height: 118px;
  border-radius: 59px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(237, 240, 70, 1) 0%, rgba(240, 233, 70, 0.15) 100%);
}

.screen .frame {
  display: flex;
  flex-direction: column;
  width: 356px;
  height: 54px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  position: absolute;
  top: 203px;
  left: 10px;
}

.screen .text-field {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -22px;
  border-radius: 4px 4px 0px 0px;
}

.screen .state-layer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #79747e;
}

.screen .state-layer {
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  border-radius: 4px 4px 0px 0px;
}

.screen .content {
  height: 40px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.screen .label-text {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: relative;
  top: -16px;
  left: -4px;
  background-color: #ffffff;
}

.screen .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1c1b1f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-field-wrapper {
  position: absolute;
  top: 290px;
  left: 19px;
  width: 336px;
  height: 56px;
}

.screen .text-field-2 {
  display: flex;
  flex-direction: column;
  width: 336px;
  height: 56px;
  align-items: flex-start;
  position: relative;
  border-radius: 4px 4px 0px 0px;
}

.screen .state-layer-2 {
  padding: 4px 0px 4px 16px;
  align-self: stretch;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.screen .label-text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: var(--t);
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .trailing-icon {
  display: flex;
  flex-direction: column;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px;
  position: relative;
}

.screen .eye-off {
  position: relative;
  width: 24px;
  height: 24px;
}

.screen .div-wrapper {
  position: absolute;
  top: 370px;
  left: 19px;
  width: 336px;
  height: 56px;
}

.screen .text-field-3 {
  display: flex;
  flex-direction: column;
  width: 336px;
  align-items: flex-start;
  position: relative;
  border-radius: 4px 4px 0px 0px;
}

.screen .input-text {
  display: inline-flex;
  align-items: center;
  position: relative;
  flex: 0 0 auto;
}

.screen .label-text-wrapper {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -16px;
  left: -4px;
  background-color: #ffffff;
  border: none;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1c1b1f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .frame-2 {
  display: flex;
  width: 336px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 450px;
  left: 19px;
}

.screen .text-field-4 {
  display: flex;
  flex-direction: column;
  height: 56px;
  align-items: flex-start;
  position: relative;
  flex: 1;
  flex-grow: 1;
  border-radius: 4px 4px 0px 0px;
}

.screen .input {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: relative;
  top: -16px;
  left: -4px;
  background-color: #ffffff;
  border: none;
  margin-top: -1px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #1c1b1f;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-field-5 {
  display: flex;
  flex-direction: column;
  width: 156px;
  height: 55px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 525px;
  left: 19px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #79747e;
}

.screen .content-wrapper {
  padding: 8px 0px 8px 16px;
  align-self: stretch;
  flex: 0 0 auto;
  margin-bottom: -8px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.screen .text-wrapper-2 {
  position: absolute;
  top: 21px;
  left: 21px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .dp {
  position: absolute;
  top: 86px;
  left: 22px;
  width: 111px;
  height: 100px;
}

.screen .ellipse-6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #c4c4c4;
  border-radius: 50px;
}

.screen .ellipse-7 {
  position: absolute;
  top: 72px;
  left: 81px;
  width: 30px;
  height: 28px;
  background-color: #5aedc4;
  border-radius: 15px/14px;
}

.screen .vuesax-bold-user {
  position: absolute;
  width: 71px;
  height: 74px;
  top: 26px;
  left: 15px;
}

.screen .frame-3 {
  display: flex;
  width: 106px;
  height: 29px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 2px 26px;
  position: absolute;
  top: 738px;
  left: 245px;
  background-color: #5aedc4;
  border-radius: 8px;
}

.screen .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -0.5px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .vector {
  position: absolute;
  width: 3.73%;
  height: 0;
  top: 20.32%;
  left: 29.6%;
}

.screen .text-field-6 {
  display: flex;
  flex-direction: column;
  width: 158px;
  height: 55px;
  align-items: flex-start;
  gap: 10px;
  position: absolute;
  top: 525px;
  left: 197px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #79747e;
}

.screen .text-field-7 {
  position: absolute;
  top: 597px;
  left: 19px;
  width: 336px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #79747e;
}

.screen .state-layer-3 {
  height: 56px;
  padding: 8px 0px 8px 16px;
  top: calc(50% - 24px);
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}

.screen .content-2 {
  width: 311px;
  height: 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.screen .text-wrapper-4 {
  position: relative;
  width: fit-content;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 11px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .label-text-3 {
  display: inline-flex;
  align-items: center;
  padding: 0px 4px;
  position: absolute;
  top: -16px;
  left: -4px;
  background-color: #ffffff;
}

.screen .text-field-8 {
  position: absolute;
  top: 669px;
  left: 19px;
  width: 336px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
  border-color: #79747e;
}

.input-text {
  font-size: 14px;
  color: #666;
  margin-bottom: 6px;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;

  width: auto !important;
  height: auto !important;
  pointer-events: none;
}
.input-real {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
  margin-top: 6px;
}


.content {
  display: flex;
  flex-direction: column;
}

.dp{
  position: relative;
  width: 90px;  
  height: 90px;
}

.profile-plus{
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  z-index: 9999;
}

.vuesax-bold-plus{
  position: absolute;
  right: 5px;
  bottom: 2px;
  width: 20px;
  height: 20px;
  z-index: 10;
}

