:root {
  --white: rgba(255, 255, 255, 1);
  --gray-100: rgba(102, 102, 102, 1);
  --android-overline-font-family: "Balsamiq Sans", Helvetica;
  --android-overline-font-weight: 400;
  --android-overline-font-size: 10px;
  --android-overline-letter-spacing: 1.5px;
  --android-overline-line-height: 16px;
  --android-overline-font-style: normal;
  --android-h4-font-family: "Balsamiq Sans", Helvetica;
  --android-h4-font-weight: 400;
  --android-h4-font-size: 34px;
  --android-h4-letter-spacing: 0px;
  --android-h4-line-height: 36px;
  --android-h4-font-style: normal;
  --android-subtitle-2-font-family: "Balsamiq Sans", Helvetica;
  --android-subtitle-2-font-weight: 400;
  --android-subtitle-2-font-size: 14px;
  --android-subtitle-2-letter-spacing: 0px;
  --android-subtitle-2-line-height: 24px;
  --android-subtitle-2-font-style: normal;
  --android-button-font-family: "Balsamiq Sans", Helvetica;
  --android-button-font-weight: 400;
  --android-button-font-size: 14px;
  --android-button-letter-spacing: 0px;
  --android-button-line-height: 16px;
  --android-button-font-style: normal;
}
