.frame {
  position: relative;
  width: 375px;
  height: 812px;
  background-color: #ffffff;
  overflow: hidden;
}

.frame .group {
  position: absolute;
  top: -14px;
  left: -29px;
  width: 451px;
  height: 839px;
  opacity: 0.8;
}

.frame .ellipse {
  position: absolute;
  top: 246px;
  left: 362px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(124, 70, 240, 1) 0%, rgba(124, 70, 240, 0.15) 100%);
}

.frame .div {
  position: absolute;
  top: 554px;
  left: 0;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(70, 189, 240, 1) 0%, rgba(70, 179, 240, 0.15) 100%);
}

.frame .ellipse-2 {
  position: absolute;
  top: 224px;
  left: 101px;
  width: 74px;
  height: 74px;
  border-radius: 37px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(95, 39, 255, 1) 0%, rgba(202, 184, 255, 1) 100%);
}

.frame .ellipse-3 {
  position: absolute;
  top: 781px;
  left: 269px;
  width: 58px;
  height: 58px;
  border-radius: 29px;
  filter: blur(65px);
  background: linear-gradient(180deg, rgba(240, 182, 70, 1) 0%, rgba(240, 203, 70, 0.15) 100%);
}

.frame .ellipse-4 {
  position: absolute;
  top: 0;
  left: 13px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(70, 240, 128, 1) 0%, rgba(70, 240, 138, 0.15) 100%);
}

.frame .ellipse-5 {
  position: absolute;
  top: 345px;
  left: 333px;
  width: 118px;
  height: 118px;
  border-radius: 59px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(237, 240, 70, 1) 0%, rgba(240, 233, 70, 0.15) 100%);
}

.frame .group-2 {
  position: absolute;
  top: 80px;
  left: 14px;
  width: 24px;
  height: 24px;
  background-image: url(./img/calendar.svg);
  background-size: 100% 100%;
}

.frame .date-picker {
  display: flex;
  flex-direction: column;
  width: 337px;
  height: 572px;
  align-items: flex-start;
  position: absolute;
  top: 124px;
  left: 16px;
}

.frame .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 24px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #40c6a0;
  border-radius: 4px 4px 0px 0px;
}

.frame .select-date {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--android-overline-font-family);
  font-weight: var(--android-overline-font-weight);
  color: var(--white);
  font-size: var(--android-overline-font-size);
  letter-spacing: var(--android-overline-letter-spacing);
  line-height: var(--android-overline-line-height);
  white-space: nowrap;
  font-style: var(--android-overline-font-style);
}

.frame .div-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .mon-nov {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--android-h4-font-family);
  font-weight: var(--android-h4-font-weight);
  color: var(--white);
  font-size: var(--android-h4-font-size);
  letter-spacing: var(--android-h4-letter-spacing);
  line-height: var(--android-h4-line-height);
  white-space: nowrap;
  font-style: var(--android-h4-font-style);
  z-index: 9999;
}

.frame .vector-wrapper {
  position: relative;
  width: 24px;
  height: 24px;
}

.frame .div-4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 20px 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 0px 0px 4px 4px;
  border: 2px solid;
  border-color: #40c6a0;
}

.frame .div-5 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .div-6 {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.frame .november {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  color: #40c6a0;
  font-size: var(--android-subtitle-2-font-size);
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .vector {
  position: absolute;
  width: 41.67%;
  height: 20.83%;
  top: 39.58%;
  left: 29.17%;
}

.frame .div-7 {
  display: inline-flex;
  align-items: flex-start;
  gap: 49px;
  position: relative;
  flex: 0 0 auto;
}

.frame .img {
  position: absolute;
  width: 30.87%;
  height: 50%;
  top: 25%;
  left: 34.56%;
}

.frame .div-8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .row {
  display: flex;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .bounding-box {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 40px;
}

.frame .text-wrapper {
  position: absolute;
  top: 8px;
  left: 17px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  color: var(--gray-100);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-2 {
  position: absolute;
  top: 8px;
  left: 14px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  color: var(--gray-100);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .div-wrapper {
  position: relative;
  flex: 1;
  flex-grow: 1;
  height: 40px;
  margin-right: -2px;
}

.frame .text {
  position: absolute;
  top: 8px;
  left: 21px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  color: #000000;
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-3 {
  left: 18px;
  color: #000000;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-4 {
  left: 17px;
  color: #000000;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-5 {
  left: 18px;
  color: #1e2022;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-6 {
  left: 17px;
  color: #1e2022;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-7 {
  left: 13px;
  color: #1e2022;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-8 {
  left: 15px;
  color: #1e2022;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-9 {
  left: 13px;
  color: #000000;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-10 {
  left: 14px;
  color: #000000;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .text-wrapper-11 {
  left: 12px;
  color: #000000;
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .base {
  position: absolute;
  top: 0;
  left: 0;
  width: 41px;
  height: 40px;
  background-color: #40c6a0;
  border-radius: 20px;
  pointer-events: none;
}

.frame .text-wrapper-12 {
  left: 12px;
  color: var(--white);
  position: absolute;
  top: 8px;
  font-family: var(--android-subtitle-2-font-family);
  font-weight: var(--android-subtitle-2-font-weight);
  font-size: var(--android-subtitle-2-font-size);
  text-align: center;
  letter-spacing: var(--android-subtitle-2-letter-spacing);
  line-height: var(--android-subtitle-2-line-height);
  white-space: nowrap;
  font-style: var(--android-subtitle-2-font-style);
}

.frame .div-9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
  padding: 0px 12px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.frame .button-small {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  border-radius: 4px;
}

.frame .button-wrapper {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  position: relative;
  flex: 0 0 auto;
}

.frame .button {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--android-button-font-family);
  font-weight: var(--android-button-font-weight);
  color: #40c6a0;
  font-size: var(--android-button-font-size);
  letter-spacing: var(--android-button-letter-spacing);
  line-height: var(--android-button-line-height);
  white-space: nowrap;
  font-style: var(--android-button-font-style);
}

.frame .min-width {
  position: relative;
  width: 64px;
  height: 1px;
  margin-bottom: -1px;
}

.frame .button-small-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 0 0 auto;
  background-color: #40c6a0;
  border-radius: 4px;
}

.frame .button-wrapper-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  position: relative;
  flex: 0 0 auto;
}

.frame .button-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--android-button-font-family);
  font-weight: var(--android-button-font-weight);
  color: var(--white);
  font-size: var(--android-button-font-size);
  letter-spacing: var(--android-button-letter-spacing);
  line-height: var(--android-button-line-height);
  white-space: nowrap;
  font-style: var(--android-button-font-style);
}

.frame .group-3 {
  position: absolute;
  top: 756px;
  left: 0;
  width: 375px;
  height: 56px;
  display: flex;
  background-image: url(./img/rectangle-1035.svg);
  background-size: 100% 100%;
}

.frame .bar-chart-box-fill {
  margin-top: 16px;
  width: 24px;
  height: 24px;
  margin-left: 28px;
}

.frame .vuesax-bulk-calendar {
  margin-top: 18px;
  width: 24px;
  height: 24px;
  margin-left: 49px;
}

.frame .vuesax-bold-home {
  margin-top: 16px;
  width: 24px;
  height: 24px;
  margin-left: 44px;
}

.frame .vuesax-bulk-document {
  margin-top: 19px;
  width: 24px;
  height: 24px;
  margin-left: 51px;
}

.frame .vuesax-bulk-profile {
  margin-top: 16px;
  width: 24px;
  height: 24px;
  margin-left: 51px;
}

.frame .group-4 {
  position: absolute;
  top: 35px;
  left: 17px;
  width: 340px;
  height: 30px;
  display: flex;
}

.frame .iconly-bold-arrow {
  margin-top: 3px;
  width: 24px;
  height: 24px;
  display: flex;
}

.frame .arrow-left-wrapper {
  flex: 1;
  display: flex;
  padding: 0 3px;
  align-items: center;
  min-width: 24px;
}

.frame .arrow-left {
  width: 18px;
  height: 12px;
  background-image: url(./img/arrow-left.svg);
  background-size: 100% 100%;
}

.frame .text-wrapper-13 {
  width: 63px;
  height: 30px;
  margin-left: 99px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .icon-menu {
  margin-top: 4px;
  width: 24px;
  height: 24px;
  margin-left: 89px;
}

.frame .vuesax-bold {
  margin-top: 4px;
  width: 24px;
  height: 24px;
  margin-left: 15px;
}

