:root {
  --colorblack: rgba(36, 37, 44, 1);
  --lexend-deca-regular-11px-font-family: "Lexend Deca", Helvetica;
  --lexend-deca-regular-11px-font-weight: 400;
  --lexend-deca-regular-11px-font-size: 11px;
  --lexend-deca-regular-11px-letter-spacing: 0px;
  --lexend-deca-regular-11px-line-height: normal;
  --lexend-deca-regular-11px-font-style: normal;
  --lexend-deca-semi-bold-19px-font-family: "Lexend Deca", Helvetica;
  --lexend-deca-semi-bold-19px-font-weight: 600;
  --lexend-deca-semi-bold-19px-font-size: 19px;
  --lexend-deca-semi-bold-19px-letter-spacing: 0px;
  --lexend-deca-semi-bold-19px-line-height: normal;
  --lexend-deca-semi-bold-19px-font-style: normal;
}
