.screen {
  display: flex;
  height: 812px;
  align-items: center;
  gap: 10px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 375px;
}

.screen .group {
  position: relative;
  width: 451px;
  height: 839px;
  margin-top: -13.5px;
  margin-bottom: -13.5px;
  opacity: 0.8;
}

.screen .ellipse {
  position: absolute;
  top: 246px;
  left: 362px;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(124, 70, 240, 1) 0%, rgba(124, 70, 240, 0.15) 100%);
}

.screen .div {
  position: absolute;
  top: 554px;
  left: 0;
  width: 96px;
  height: 96px;
  border-radius: 48px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(70, 189, 240, 1) 0%, rgba(70, 179, 240, 0.15) 100%);
}

.screen .ellipse-2 {
  position: absolute;
  top: 224px;
  left: 101px;
  width: 74px;
  height: 74px;
  border-radius: 37px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(95, 39, 255, 1) 0%, rgba(202, 184, 255, 1) 100%);
}

.screen .ellipse-3 {
  position: absolute;
  top: 781px;
  left: 269px;
  width: 58px;
  height: 58px;
  border-radius: 29px;
  filter: blur(65px);
  background: linear-gradient(180deg, rgba(240, 182, 70, 1) 0%, rgba(240, 203, 70, 0.15) 100%);
}

.screen .ellipse-4 {
  position: absolute;
  top: 0;
  left: 13px;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(70, 240, 128, 1) 0%, rgba(70, 240, 138, 0.15) 100%);
}

.screen .ellipse-5 {
  position: absolute;
  top: 345px;
  left: 333px;
  width: 118px;
  height: 118px;
  border-radius: 59px;
  filter: blur(75px);
  background: linear-gradient(180deg, rgba(237, 240, 70, 1) 0%, rgba(240, 233, 70, 0.15) 100%);
}

.screen .group-2 {
  position: absolute;
  top: 27px;
  left: 22px;
  width: 347px;
  height: 25px;
}

.screen .iconly-bold-arrow {
  position: absolute;
  top: 1px;
  left: 0;
  width: 24px;
  height: 24px;
  display: flex;
}

.screen .arrow-left-wrapper {
  flex: 1;
  display: flex;
  padding: 0 3px;
  align-items: center;
  min-width: 24px;
}

.screen .arrow-left {
  width: 18px;
  height: 12px;
  background-image: url(./img/arrow-left.svg);
  background-size: 100% 100%;
}

.screen .text-wrapper {
  position: absolute;
  top: 0;
  left: 71px;
  font-family: var(--lexend-deca-semi-bold-19px-font-family);
  font-weight: var(--lexend-deca-semi-bold-19px-font-weight);
  color: #000000;
  font-size: var(--lexend-deca-semi-bold-19px-font-size);
  text-align: center;
  letter-spacing: var(--lexend-deca-semi-bold-19px-letter-spacing);
  line-height: var(--lexend-deca-semi-bold-19px-line-height);
  font-style: var(--lexend-deca-semi-bold-19px-font-style);
}

.screen .icon-menu {
  position: absolute;
  top: 1px;
  left: 287px;
  width: 24px;
  height: 24px;
}

.screen .vuesax-bold {
  position: absolute;
  top: 1px;
  left: 321px;
  width: 24px;
  height: 24px;
}

.screen .group-3 {
  position: absolute;
  top: 77px;
  left: 28px;
  width: 205px;
  height: 84px;
}

.screen .p {
  position: absolute;
  top: 25px;
  left: 0;
  font-family: "Lexend Deca-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 11px;
  letter-spacing: -0.3px;
  line-height: 16px;
  white-space: nowrap;
}

.screen .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Baloo Bhaijaan 2-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .frame {
  display: flex;
  width: 175px;
  height: 37px;
  align-items: center;
  gap: 13px;
  top: 47px;
  position: absolute;
  left: 0;
}

.screen .star {
  position: relative;
  width: 22.83px;
  height: 21.71px;
  aspect-ratio: 1;
}

.screen .group-4 {
  position: absolute;
  top: 290px;
  left: 21px;
  width: 337px;
  height: 380px;
}

.screen .rectangle {
  top: 30px;
  width: 331px;
  height: 350px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 0.5px solid;
  border-color: #000000;
  position: absolute;
  left: 0;
}

.screen .text-wrapper-3 {
  position: absolute;
  top: 358px;
  left: 286px;
  font-family: "Lexend Deca-ExtraLight", Helvetica;
  font-weight: 200;
  color: #000000;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 7px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 19px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .text-wrapper-5 {
  position: absolute;
  top: 51px;
  left: 21px;
  font-family: "Baloo Bhaijaan 2-Regular", Helvetica;
  font-weight: 400;
  color: #79747e;
  font-size: 10px;
  letter-spacing: 0;
  line-height: normal;
}

.screen .line {
  position: absolute;
  top: 51px;
  left: 19px;
  width: 1px;
  height: 15px;
  object-fit: cover;
}

.screen .group-5 {
  position: absolute;
  top: 686px;
  left: 132px;
  width: 113px;
  height: 38px;
  box-shadow: 0px 4px 4px #00000033;
}

.screen .img {
  top: 0;
  width: 111px;
  height: 38px;
  position: absolute;
  left: 0;
}

.screen .text-wrapper-6 {
  position: absolute;
  top: 7px;
  left: 38px;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.screen .group-6 {
  position: absolute;
  top: 189px;
  left: 26px;
  width: 152px;
  height: 58px;
}

.screen .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 7px;
  padding: 0px 6px;
  top: 23px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  left: 0;
}

.screen .calendar-day {
  position: relative;
  width: 34px;
  height: 35px;
}

.screen .union {
  position: absolute;
  width: 83.33%;
  height: 87.5%;
  top: 4.17%;
  left: 8.33%;
}

.screen .text-wrapper-7 {
  position: relative;
  width: 68px;
  height: 19px;
  font-family: "Lexend Deca-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 15px;
  letter-spacing: -0.3px;
  line-height: 16px;
  white-space: nowrap;
}

.screen .line-2 {
  position: relative;
  width: 1px;
  height: 29px;
}

.screen .vector {
  position: relative;
  width: 15px;
  height: 13px;
}

.screen .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Lexend Deca-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 19px;
  letter-spacing: -0.3px;
  line-height: 16px;
  white-space: nowrap;
}

.screen .group-wrapper {
  top: 758px;
  width: 375px;
  height: 56px;
  position: absolute;
  left: 0;
}

.screen .group-7 {
  position: relative;
  width: 375px;
  height: 56px;
}

.screen .rectangle-2 {
  top: 0;
  width: 375px;
  height: 54px;
  position: absolute;
  left: 0;
}

.screen .vuesax-bold-home {
  position: absolute;
  top: 16px;
  left: 169px;
  width: 24px;
  height: 24px;
}

.screen .vuesax-bulk-calendar {
  position: absolute;
  top: 18px;
  left: 101px;
  width: 24px;
  height: 24px;
}

.screen .vuesax-bulk-document {
  position: absolute;
  top: 19px;
  left: 244px;
  width: 24px;
  height: 24px;
}

.screen .vuesax-bulk-profile {
  position: absolute;
  top: 16px;
  left: 319px;
  width: 24px;
  height: 24px;
}

.screen .bar-chart-box-fill {
  position: absolute;
  top: 16px;
  left: 28px;
  width: 24px;
  height: 24px;
}
/* 저장 버튼에 마우스를 올렸을 때 포인터 변경 및 약간 투명해지는 효과 */
.group-5 {
  transition: transform 0.2s, opacity 0.2s;
  cursor: pointer;
}

.group-5:hover {
  opacity: 0.8;
}

.group-5:active {
  transform: scale(0.95); /* 클릭했을 때 살짝 눌리는 느낌 */
}
/* 하단 바 전체 컨테이너 */
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: px;
    width: 375px;
    height: 70px;
    background-color: #c4f3e5; /* 이미지의 연한 민트색 */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* 네비게이션 내부 정렬 */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

/* 각 아이콘 버튼 영역 */
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    padding: 10px;
    transition: transform 0.2s;
}

.nav-item img {
    width: 28px; /* 아이콘 크기 적절히 조절 */
    height: 28px;
}


.diary-input{
  position: absolute;
  top: 30px;   /* 너 UI에 맞게 조절 */
  left: 10px;
  width: 330px;
  height: 345px;

  border: 2px solid #000;
  border-radius: 16px;

  padding: 15px;
  font-size: 13px;

  resize: none;
  outline: none;
  background: white;
}
.frame-2{
  position: relative;
}

/* 달력 input을 아이콘 위에 투명하게 덮기 */
.date-picker-hidden{
  position: absolute;
  right: 10px;      /* 달력 아이콘 위치에 맞게 */
  top: 10px;
  width: 35px;      /* 아이콘 크기만큼 */
  height: 35px;

  opacity: 0;       /* 안 보이게 */
  cursor: pointer;
  z-index: 999;
}
