:root {
  --lexend-deca-semi-bold-19px-font-family: "Lexend Deca", Helvetica;
  --lexend-deca-semi-bold-19px-font-weight: 600;
  --lexend-deca-semi-bold-19px-font-size: 19px;
  --lexend-deca-semi-bold-19px-letter-spacing: 0px;
  --lexend-deca-semi-bold-19px-line-height: normal;
  --lexend-deca-semi-bold-19px-font-style: normal;
}
